@font-face { font-family: 'KCC-eunyoung'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff'); font-weight: normal; font-style: normal; }

.bar{
    text-align: center;
    height:15%;
    min-width:1000px;
}
.bar > p {
    display: inline-block;
    margin-right:80px;
    font-size: 1em;
}

#brand{
    font-size: 3em;
    font-family: KCC-eunyoung;
}

.main > img {
    width:100%;
    height: auto;
    min-width:1200px;
    overflow: scroll;
}

.back{
    min-width:1200px;
    border: 1px solid red;
    padding-top: 100px;
}
.camera{
    width:50%;
    height:auto;
    float:left;
    border: 1px solid red;
}
.lens{
    width:50%;
    height:auto;
    float:right;
    border: 1px solid red;
}
.camera > img, .lens > img {
    border-bottom: 1px solid black;
    width: 200px;
}
.lens, .camera{
    padding-left:200px;

}
.back > .lens > p{
    border: 1px solid red;
    width:400px;

}
.back > .camera > p{
    border: 1px solid red;
    width:400px;

}