
div.bar{
    text-align: center;
    height:15%;
    min-width:800px;
}
.bar > p {
    display: inline-block;
    margin-right:80px;
    font-size:1em;
}

a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}
a:active{ color: black; text-decoration: none; }

#brand{
    font-size: 3em;
    font-family: KCC-eunyoung;
}
.main{
    height: 75%;
    overflow: hidden;
    position: relative;
    min-width:1000px;
}

.main > img{
    width:100%;
    height:auto;
    opacity: 0.8;
}
@font-face { font-family: 'KCC-eunyoung'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff'); font-weight: normal; font-style: normal; }
.main > p.text{
    color: white;
    font-size: 5em;
    font-family: KCC-eunyoung;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate( -50%, -50% );
}

